.main{
    margin:-8px;
    padding: 10px;
    background-color:rgba(177, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font: bold;
    color: rgb(255, 255, 255);
}

.body{
    margin-left: auto;
    margin-right: auto;
    
text-align: center;
}
.logo-img{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    margin-bottom: 50px;
}

.search-input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.maincard{
    color: #222222;
    background: rgba(255, 230, 0, 0.781);
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkred;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.card {
    color: #222222;
    background: rgba(168, 0, 0, 0.781);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkred;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.btn{

    margin-top: 30px;
    background: #dfe1e5;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.flexbox{
    display: flex;
    justify-content: center;
}

.datum{
    text-align: left;
    margin-left: 10px;
}

.content{
    padding: 10px;
    margin-left: 10px;
    font: size 10px;
}

.gallery{
    padding: px
}

td{
    padding: 20px;
}
